<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090326532717-1ul3nbifccqfom7f51ot4em6k9i25ksd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090326532717-1ul3nbifccqfom7f51ot4em6k9i25ksd</string>
	<key>API_KEY</key>
	<string>AIzaSyD6eXcjyxHp-aPcW-T7APafoAC8hg039UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1090326532717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.lipsar.corporateonline</string>
	<key>PROJECT_ID</key>
	<string>tronicshow-9e0b1</string>
	<key>STORAGE_BUCKET</key>
	<string>tronicshow-9e0b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090326532717:ios:58b3f88dd379a20605e564</string>
</dict>
</plist>